{% extends 'base.html' %}
{% load static %}

{% block estils_de_pantalla %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="cartell-fusta">
    <h1>Nova Partida</h1>
    
    <form method="POST" action="">
        {% csrf_token %} 
        
        <div class="camp-formulari">
            <label for="usuari">Nom del granger/a:</label>
            <input type="text" id="usuari" name="usuari" placeholder="Insereix text..." required>
        </div>

        <div class="camp-formulari">
            <label for="nom_granja">Nom de la Granja:</label>
            <input type="text" id="nom_granja" name="nom_granja" placeholder="Insereix text..." required>
        </div>

        <div class="camp-formulari">
            <label for="contrasenya">Contrasenya:</label>
            <input type="password" id="contrasenya" name="contrasenya" placeholder="Insereix text..." required>
        </div>

        <button type="submit" class="boto-joc">Crear Partida</button>
    </form>
</div>
{% endblock %}
