body {
    background-image: url('../img/Fondo.jpg');
    background-size: cover;          
    background-position: center;     
    background-repeat: no-repeat;    
    background-attachment: fixed;    
    
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #3e2723;
}

.cartell-fusta {
    background-color: rgba(215, 204, 200, 0.9); 
    border: 8px solid #5d4037;
    border-radius: 10px;
    padding: 20px 40px;
    width: 320px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.cartell-fusta h1 {
    font-size: 40px;
    margin-top: 0;
    text-shadow: 2px 2px #fff; 
}

.camp-formulari {
    margin-bottom: 20px;
    text-align: left;
}

.camp-formulari label {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.camp-formulari input {
    width: 100%;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    border: 3px solid #795548;
    background-color: #fff3e0;
    box-sizing: border-box;
}

.boto-joc {
    background-color: #ffca28; 
    border: 4px solid #ff6f00;
    color: #3e2723;
    padding: 10px 20px;
    font-family: 'VT323', monospace;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    transition: transform 0.1s;
}

.boto-joc:hover {
    background-color: #ffecb3;
}

.boto-joc:active {
    transform: translate(3px, 3px); 
    box-shadow: none;
}
