/* Fons del joc i font tipus píxel */
body {
    /* Aquí carreguem la imatge. Assegura't que el nom coincideixi! */
    background-image: url('../img/Fondo.jpg');
    background-size: cover;          /* Fa que la imatge ocupi tota la pantalla */
    background-position: center;     /* Centra la imatge */
    background-repeat: no-repeat;    /* Evita que la imatge es repeteixi si és petita */
    background-attachment: fixed;    /* La imatge es queda fixa si fas scroll */
    
    font-family: 'VT323', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #3e2723;
}

/* El cartell de fusta del Login */
.cartell-fusta {
    /* Canviem el fons sòlid #d7ccc8 per rgb amb un 90% d'opacitat (0.9) */
    background-color: rgba(215, 204, 200, 0.9); 
    border: 8px solid #5d4037;
    border-radius: 10px;
    padding: 20px 40px;
    width: 320px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.cartell-fusta h1 {
    font-size: 40px;
    margin-top: 0;
    text-shadow: 2px 2px #fff; /* Efecte de relleu */
}

/* Estils dels camps de text */
.camp-formulari {
    margin-bottom: 20px;
    text-align: left;
}

.camp-formulari label {
    display: block;
    font-size: 24px;
    margin-bottom: 5px;
}

.camp-formulari input {
    width: 100%;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 20px;
    border: 3px solid #795548;
    background-color: #fff3e0;
    box-sizing: border-box;
}

/* El botó d'entrar */
.boto-joc {
    background-color: #ffca28; /* Groc Stardew */
    border: 4px solid #ff6f00;
    color: #3e2723;
    padding: 10px 20px;
    font-family: 'VT323', monospace;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    transition: transform 0.1s;
}

.boto-joc:hover {
    background-color: #ffecb3;
}

.boto-joc:active {
    transform: translate(3px, 3px); /* Efecte de prémer el botó */
    box-shadow: none;
}
